.ad-title {
    font-weight: bolder;
    text-align: center;
}

.sub-title {
    color: grey;
    text-align: center;
    margin-bottom: 20px;
    margin: 0;
}

.image-ad-size {
    width: 50%;
}

.container-ad {
    padding-top: 100px;
    display: block;
    margin: auto
}

.button-ad {
    width: 180px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 40px;
    border-radius: 12px;
    background-color: black;
    font-size: 30px;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}