.image-item2 {
    padding: 20px;
    align-items: center;
}

.title2 {
    padding: 10px 0 0 100px;
}

.back2 {
    height: 150px;
    background-color: #F1F1F1;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px
}

.size-image2 {
    height: 100px;
}

.carousel-item {
    width: 50%;
}

.paragraph2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: black;
}