.footer-container {
    background-color: #202020;
    color: white;
}

.footer-links {
    padding-left: 40px;
}

.logo-footer {
    margin-top: 40px;
    max-width: 200px;
}

.logo-footer-test {
    max-width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    padding-top: 10px;
}

hr {

    border: 1px solid rgb(31, 28, 28);
}

.downloadApp {
    margin-top: 5px;
    max-width: 250px;
}

.footer-global {
    display: flex;
    flex-wrap: wrap;
}

.footer-general {
    padding: 30px 0;
    width: 15%;
    min-width: 240px;

}

.footer-category {
    margin-top: 5px;
    font-weight: bold;
}

.category-option {
    text-align: left;
    line-height: 40px;
    font-family: Montserrat;
    font-weight: 150;
}

.contact {
    display: flex;
}

.whatsapp {
    margin-right: 10px;
    margin-top: 8px;
    color: grey;
}