.hero-container {
    background-image: url('../assets/images/hero-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.logo {
    height: 30px;
    display: flex;
    max-width: 50%;
    height: 50px;
    margin: 0px 50px 0px 30px;
    padding: 20px 10px 5px 0;
}

.navbar {
    display: flex;
    list-style-type: none;
    margin: 0px 5px 0px 0px;
    padding: 0;
}

.navbar a {
    margin-right: 10px;
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #fbfbfb;
    color: #202020;
}

/* Style the "active" element to highlight the current page */
.navbar a.active {
    background-color: #f1f1f1;
    color: white;
}

.hero-text {
    margin-top: 100px;
    margin-bottom: 50px;
    color: #fff;
}

.subtitle-container {
    margin-top: 10px;
}

.hero-paragraph {
    font-size: 25px;
    margin-left: 30px
}

.buttons {
    margin: 20px 50px 10px 30px;
    padding-bottom: 30px;
}

.download-buttons {
    display: block;
    margin: 10px 50px 10px auto;
    max-height: 40px;
    max-width: 230px;
}