.image-item {
    padding: 20px 0 20px 0px;
    display: flex;
    align-items: center;
}
.title{
    padding: 60px 0 40px 100px ;
}

.global-item-carousel{
    height: 100%; 
}
.back{
    height: 80%;
    width: 100%;
    background-color: #F1F1F1;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px
}
.carousel{
    height: 70%;
}
.size-image{
    width: 90%;
    height: 90%;    
}

.btn {
    width: 180px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 40px;
    border-radius: 12px;
    background-color: black;
    font-size: 30px;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.paragraph {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: black;
}