@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-ExtraLight.eot');
  src: url('assets/fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Montserrat-ExtraLight.woff2') format('woff2'),
    url('assets/fonts/Montserrat-ExtraLight.woff') format('woff'),
    url('assets/fonts/Montserrat-ExtraLight.ttf') format('truetype'),
    url('assets/fonts/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Bold.eot');
  src: url('assets/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Montserrat-Bold.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Bold.woff') format('woff'),
    url('assets/fonts/Montserrat-Bold.ttf') format('truetype'),
    url('assets/fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Black.eot');
  src: url('assets/fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Montserrat-Black.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Black.woff') format('woff'),
    url('assets/fonts/Montserrat-Black.ttf') format('truetype'),
    url('assets/fonts/Montserrat-Black.svg#Montserrat-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Thin.eot');
  src: url('assets/fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Montserrat-Thin.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Thin.woff') format('woff'),
    url('assets/fonts/Montserrat-Thin.ttf') format('truetype'),
    url('assets/fonts/Montserrat-Thin.svg#Montserrat-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-SemiBold.eot');
  src: url('assets/fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('assets/fonts/Montserrat-SemiBold.woff') format('woff'),
    url('assets/fonts/Montserrat-SemiBold.ttf') format('truetype'),
    url('assets/fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Medium.eot');
  src: url('assets/fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Montserrat-Medium.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Medium.woff') format('woff'),
    url('assets/fonts/Montserrat-Medium.ttf') format('truetype'),
    url('assets/fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Regular.eot');
  src: url('assets/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Regular.woff') format('woff'),
    url('assets/fonts/Montserrat-Regular.ttf') format('truetype'),
    url('assets/fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Light.eot');
  src: url('assets/fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Montserrat-Light.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Light.woff') format('woff'),
    url('assets/fonts/Montserrat-Light.ttf') format('truetype'),
    url('assets/fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

p {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}